<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <%= collection_select(:user, :name, User.all, :name, :name )%>
    <label>Password</label>
    <input type=password name="user_password">
    <input type=submit value='Sign In'>
<% end %>